[submodule "Ayin/Dependency/spdlog"]
	path = Ayin/Dependency/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Ayin/Dependency/GLFW"]
	path = Ayin/Dependency/GLFW
	url = https://github.com/WeltAine/glfw
[submodule "Ayin/Dependency/ImGui"]
	path = Ayin/Dependency/ImGui
	url = git@github.com:WeltAine/ImGui.git
[submodule "Ayin/Dependency/glm"]
	path = Ayin/Dependency/glm
	url = https://github.com/g-truc/glm
